@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Taviraj');

$lh: 1.5rem;
$paperColor: #F8ECC2;
$inkColor: #383b3e;
$serifFont: "Taviraj";
$sansFont: "Quattrocento Sans";

* {
	box-sizing: border-box;
	font-family: $sansFont;
}

html {
	font-size: 18px;
}

body {
	font-family: $sansFont;
	line-height: $lh;
	background: $paperColor;
	color: $inkColor;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $serifFont;
	text-align: center;
}

h1 {
	font-size: 3rem;
	line-height: 3 * $lh;
}

h2 {
	font-size: 2rem;
	line-height: 2 * $lh;
}

h3 {
	font-size: 1.5rem;
}

p,span,a,.lead {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: $inkColor;
	display: inline-block;
	cursor: pointer;
}

.btn, button, input[type="submit"], input[type="button"] {
	background: $paperColor;
	border: 1px solid $inkColor;
	margin: 1rem 0;
	padding: .5em;
	min-width: 5em;
	cursor: pointer;
	text-decoration: none;
	color: $inkColor;
	display: inline-block;
	text-align: center;
}

a {
	color: $inkColor;
	background: $paperColor;
}
a.hoverable:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
	background: $inkColor;
	color: $paperColor;
}

textarea {
	resize: none;
	width: 100%;
	// padding: $lh 2 * $lh;	
	padding: none;
	background: $paperColor;
	border: 1px solid rgba(48,48,48,1);
	transition: .5s border ease;
}

textarea:focus, input:focus {
	border: 1px solid rgba(48,48,48,.1);
	outline: none;
}

.nav-bar {
	border-bottom: 1px solid $inkColor;
	margin-bottom: 3rem;
	h1 {
		border-bottom: 2rem;
	}
	.nav-list {
		a {
			border: 1px solid #383b3e;
			border-bottom: none;
			margin: 0 2rem;
			margin-left: 0;
			padding: .5rem;
			background: $inkColor;
			color: $paperColor;
			&:hover {
				background: $paperColor;
				color: $inkColor;
			}
		}
	}
}
.container {
	max-width: 38 * $lh;
	margin: 0 auto;
	padding: $lh;
	padding-top: 0;
	font-size: 0;
}

.sketches-by-time {
	.sketch-link {
		a {
			margin: .25rem;
			margin-left: 0rem;
			padding: .5rem;
			border-bottom: 1px solid $inkColor;
			transition: .5s all ease;

			&:hover {
				padding: .5rem 1rem;
			}
		}
	}
}

.timer-item {
	color: $inkColor;
	display: inline-block;
	background: $paperColor;
	width: 33%;
	text-align: center;
	p {
		padding: 10px;
		width: 75%;
		border-bottom: 1px solid $inkColor;
		transition: .5s all ease;
		margin: 1rem auto;

		&:hover {
			width: 95%;
		}
	}
}
.timer {
	font-size: 1rem;
	text-align: center;
	.total-time {
		position: relative;
		border: 1px solid $inkColor;
		height: 1rem;
		margin: auto;
		width: 50%;
		.elapsed-time {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			transition: 1s all linear;
			background: $inkColor;
		}
	}

}

.contribute-form, .story-so-far {
	display: inline-block;
	padding: $lh;
	width: 50%;
	font-size: 1rem;
	vertical-align: top;	
}

.story-so-far {
	p,span {
		font-family: $serifFont;
	}
	span {
		.attribution {
			display: none;
			position: fixed;
			background: white;
			border: 1px solid black;
			z-index: 2;
			padding: 1rem;
			transform: translate(-50%,-15px);
			cursor: none;
		}
	}
}
.write-form {
	label, input, textarea {
		display: block;
		font-size: 1rem;
		line-height: $lh;
	}
}

.vote-buttons {
	position: fixed;
	right: 15%;
	bottom: 32%;
	i {
		display: block;
		margin: 1rem 0;
  		text-shadow: 1px 0 0 $inkColor, -1px 0 0 $inkColor, 0 1px 0 $inkColor, 0 -1px 0 $inkColor, 1px 1px $inkColor, -1px -1px 0 $inkColor, 1px -1px 0 $inkColor, -1px 1px 0 $inkColor;
  		color: $paperColor;
	}
	&.upvote i.upvote, &.downvote i.downvote, &.abstain i.abstain {
		color: $inkColor;
	}
}